<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>TODOリスト</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo/style.css' %}" />
  </head>
  <body>
    <div>
      {% if user.is_authenticated %}
        <p>ようこそ、{{ user.username }} さん！</p>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">ログアウト</button>
        </form>
      {% else %}
        <form method="get" action="{% url 'signup' %}">
          <button type="submit">新規登録</button>
        </form>
        <form method="get" action="{% url 'login' %}">
          <button type="submit">ログイン</button>
        </form>
      {% endif %}
    </div>
    <h1>TODOリスト</h1>
      <form id="filter-form">
        <select id="status" name="status">
          <option value="all" {% if status == "all" or not status %}selected{% endif %}>すべて</option>
          <option value="done" {% if status == "done" %}selected{% endif %}>完了</option>
          <option value="undone" {% if status == "undone" %}selected{% endif %}>未完了</option>
        </select>  
      </form>
    </div>
    <ul>
      {% for TODO in todos %}
      <li>
        <a href="{% url 'todo_detail' TODO.id %}">{{ TODO.title }}</a>
        - {{ TODO.created_at }} - {% if TODO.is_completed %} ✅
        完了 {% else %} ⏳ 未完了 {% endif %} -
        <a 
          href="{% url 'todo_edit' TODO.id %}"
        >編集
        </a> 
        -
        <a
          href="{% url 'todo_delete' TODO.id %}"
          onclick="return confirm('本当に削除しますか？');"
          >削除</a
        >
        -
        <form action="{% url 'todo_update_status' TODO.id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit">
            {% if TODO.is_completed %} 
              ↩️ 未完了に戻す
            {% else %} 
              ✅ 完了にする
            {% endif %}
          </button>
        </form>
      </li>
      {% empty %}
      <li>TODOはありません。</li>
      {% endfor %}
    </ul>
    <a href="{% url 'todo_create' %}">新しいToDoを追加</a>
  </body>
</html>

<script>
  document.getElementById('status').addEventListener('change',
    function() {
      const selectedStatus = this.value;
      const baseUrl = window.location.pathname;
      const query = selectedStatus === 'all' ? '' : `?status=${selectedStatus}`;
      window.location.href = baseUrl + query;
    }
  )
</script>

<style>
  .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}
</style>
