<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>TODOリスト</title>
  </head>
  <body>
    <h1>TODOリスト</h1>
    <ul>
      {% for TODO in todos %}
      <li>
        {{ TODO.title }} - {{ TODO.created_at }} - {% if TODO.is_completed %} ✅
        完了 {% else %} ⏳ 未完了 {% endif %} -
        <a
          href="{% url 'todo_delete' TODO.id %}"
          onclick="return confirm('本当に削除しますか？');"
          >削除</a
        >
        -
        <form action="{% url 'todo_update_status' TODO.id%}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit">
            {% if TODO.is_completed %} 
              ↩️ 未完了に戻す
            {% else %} 
              ✅ 完了にする
            {% endif %}
          </button>
        </form>
      </li>
      {% empty %}
      <li>TODOはありません。</li>
      {% endfor %}
    </ul>
    <a href="{% url 'todo_create' %}">新しいToDoを追加</a>
  </body>
</html>
